@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

body,
html {
  /* overflow-x: hidden; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .primary_btn {
    @apply py-2 px-4 bg-blue rounded-[14px] text-white
  }
  .price_btn {
    @apply bg-grey-500 px-2 py-1 medium-20 text-white  rounded-[10px]
  }
  .container {
    @apply mx-auto w-[90%] overflow-x-hidden;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  /* fonts */


  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .medium-18 {
    @apply text-[18px] font-[500];
  }
  .medium-20 {
    @apply text-[20px] font-[500];
  }
  .medium-22 {
    @apply text-[22px] font-[500];
  }
  .medium-24 {
    @apply text-[24px] font-[500];
  }
  .medium-32 {
    @apply text-[32px] font-[500];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

 
  .bold-60 {
    @apply text-[60px] font-[700] leading-[120%];
  }

  
 

  .bold-38 {
    @apply text-[38px] font-[700] leading-[120%];
  }

  .bold-24 {
    @apply text-[24px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .section__padding {
    @apply py-[75px] lg:py-[100px];
  }
}

@layer components {
  .nav {
   @apply  flex-between   container py-5 z-30
  }
  .nav_list {
    @apply max-lg:absolute  text-white text-center py-[20px] rounded-lg 
    top-[100%] left-1/2  lg:flex lg:h-full lg:gap-12 transition-all duration-500;
  }
  .nav_link {
    @apply text-white hover:text-white/75 lg:text-dark medium-32 lg:medium-24   flex-center flex-1 w-full  cursor-pointer max-lg:py-6 transition-all lg:hover:text-grey-700;
  }

  .hero {
    @apply bg-hero bg-cover bg-no-repeat bg-center rounded-[50px]  h-[633.76px]
  }
  .card {
    @apply bg-white border-2 p-4 border-card-border hover:border-blue rounded-[30px] 
    transition-all duration-200 
  }
  .card_items_wrapper {
    @apply flex items-center gap-5
  }
  .card_item {
    @apply medium-18 text-gray-500
  }
}


/* Countries.module.css */
.country {
  overflow: hidden;
}

.country::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.33);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 20px ;
  -webkit-border-radius: 20px ;
  -moz-border-radius: 20px ;
  -ms-border-radius: 20px ;
  -o-border-radius: 20px ;
  filter: invert(1) brightness(20px)  drop-shadow(8px 8px 10px rgb(216, 206, 206)) ;
  -webkit-filter: invert(1) brightness(20px)  drop-shadow(8px 8px 10px rgb(216, 206, 206)) ;
}

.country:hover::before {
  opacity: 1; 
}
